<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>605066806773-l0gcf0g5hrngllvoc37pu0mvv8hoc354.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605066806773-l0gcf0g5hrngllvoc37pu0mvv8hoc354</string>
	<key>API_KEY</key>
	<string>AIzaSyC668cY6ASnBRaWVxgtCTVY9iZjL2JbA84</string>
	<key>GCM_SENDER_ID</key>
	<string>605066806773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roguethree.Project-Civ</string>
	<key>PROJECT_ID</key>
	<string>project-civ</string>
	<key>STORAGE_BUCKET</key>
	<string>project-civ.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:605066806773:ios:80bd81736b0b8127</string>
	<key>DATABASE_URL</key>
	<string>https://project-civ.firebaseio.com</string>
</dict>
</plist>